/* inside style.css */
.highlight {
    background-color: yellow;
  }
  
  .error {
    background-color: lightcoral;
    border: red;
  }
  
  /*agregando estilos a la página*/
  h1{
      color: blueviolet;
  }
  .container{
      display: grid;
      grid-template-columns: 30% 30% 30% 30;
      display: flex;
      justify-content: center;
  }
  .button{
      background-color: rgb(179, 125, 230);
  }